/* 
* Skeleton V1.0.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 5/20/2011
* UPDATED - John Peele/Rockbeatspaper - 6/30/2011
*/
/* Table of Content
==================================================
  #LESS Bootstrap - Mark Dotto
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face 
	#Browser Debugging */
/* #LESS Bootstrap - Mark Dotto
================================================== */
/*--------------------------------------------------
  Bootstrap.less v1.1
  --------------------------------------------------
  
  /* Variables
  -------------------------------------------------- */
/*--------------------------------------------------
  Mixins
	-------------------------------------------------- */
.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.center-block {
  display: block;
  margin: 0 auto;
}
#flexbox .display-box {
  display: -moz-box;
  display: -webkit-box;
  display: box;
}
#reset .global-reset html,
#reset .global-reset body,
#reset .global-reset div,
#reset .global-reset span,
#reset .global-reset applet,
#reset .global-reset object,
#reset .global-reset iframe,
#reset .global-reset h1,
#reset .global-reset h2,
#reset .global-reset h3,
#reset .global-reset h4,
#reset .global-reset h5,
#reset .global-reset h6,
#reset .global-reset p,
#reset .global-reset blockquote,
#reset .global-reset pre,
#reset .global-reset a,
#reset .global-reset abbr,
#reset .global-reset acronym,
#reset .global-reset address,
#reset .global-reset big,
#reset .global-reset cite,
#reset .global-reset code,
#reset .global-reset del,
#reset .global-reset dfn,
#reset .global-reset em,
#reset .global-reset img,
#reset .global-reset ins,
#reset .global-reset kbd,
#reset .global-reset q,
#reset .global-reset s,
#reset .global-reset samp,
#reset .global-reset small,
#reset .global-reset strike,
#reset .global-reset strong,
#reset .global-reset sub,
#reset .global-reset sup,
#reset .global-reset tt,
#reset .global-reset var,
#reset .global-reset b,
#reset .global-reset u,
#reset .global-reset i,
#reset .global-reset center,
#reset .global-reset dl,
#reset .global-reset dt,
#reset .global-reset dd,
#reset .global-reset ol,
#reset .global-reset ul,
#reset .global-reset li,
#reset .global-reset fieldset,
#reset .global-reset form,
#reset .global-reset label,
#reset .global-reset legend,
#reset .global-reset table,
#reset .global-reset caption,
#reset .global-reset tbody,
#reset .global-reset tfoot,
#reset .global-reset thead,
#reset .global-reset tr,
#reset .global-reset th,
#reset .global-reset td,
#reset .global-reset article,
#reset .global-reset aside,
#reset .global-reset canvas,
#reset .global-reset details,
#reset .global-reset embed,
#reset .global-reset figure,
#reset .global-reset figcaption,
#reset .global-reset footer,
#reset .global-reset header,
#reset .global-reset hgroup,
#reset .global-reset menu,
#reset .global-reset nav,
#reset .global-reset output,
#reset .global-reset ruby,
#reset .global-reset section,
#reset .global-reset summary,
#reset .global-reset time,
#reset .global-reset mark,
#reset .global-reset audio,
#reset .global-reset video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
#reset .global-reset body {
  line-height: 1;
}
#reset .global-reset ol, #reset .global-reset ul {
  list-style: none;
}
#reset .global-reset table {
  border-collapse: collapse;
  border-spacing: 0;
}
#reset .global-reset caption, #reset .global-reset th, #reset .global-reset td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
#reset .global-reset q, #reset .global-reset blockquote {
  quotes: none;
}
#reset .global-reset q:before,
#reset .global-reset blockquote:before,
#reset .global-reset q:after,
#reset .global-reset blockquote:after {
  content: "";
  content: none;
}
#reset .global-reset a img {
  border: none;
}
#reset .global-reset article,
#reset .global-reset aside,
#reset .global-reset details,
#reset .global-reset figcaption,
#reset .global-reset figure,
#reset .global-reset footer,
#reset .global-reset header,
#reset .global-reset hgroup,
#reset .global-reset menu,
#reset .global-reset nav,
#reset .global-reset section {
  display: block;
}
#reset .reset-box-model {
  margin: 0;
  padding: 0;
  border: 0;
}
#reset .reset-font {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
#reset .reset-focus {
  outline: 0;
}
#reset .reset-body {
  line-height: 1;
}
#reset .reset-list-style {
  list-style: none;
}
#reset .reset-table {
  border-collapse: collapse;
  border-spacing: 0;
}
#reset .reset-table-cell {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
#reset .reset-quotation {
  quotes: none;
}
#reset .reset-quotation:before, #reset .reset-quotation:after {
  content: "";
  content: none;
}
#reset .reset-image-anchor-border {
  border: none;
}
#reset .reset-html5 article,
#reset .reset-html5 aside,
#reset .reset-html5 details,
#reset .reset-html5 figcaption,
#reset .reset-html5 figure,
#reset .reset-html5 footer,
#reset .reset-html5 header,
#reset .reset-html5 hgroup,
#reset .reset-html5 menu,
#reset .reset-html5 nav,
#reset .reset-html5 section {
  display: block;
}
/* #Site Styles
================================================== */
body {
  font-family: "ClarendonFSLight", Georgia, "Times New Roman", Times, serif;
  color: #5d5b57;
  background: #f9f5eb url(/images/bg_main.png);
}
a, a:active, a:visited {
  text-decoration: none;
  color: #fe6a00;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
a:hover {
  text-decoration: underline;
  color: #b24a00;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SteelfishBold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #5d5b57;
}
/* tooltips ---------------------------------------- */
.tipsy {
  padding: 5px;
  font: 10px "BrandonGrotesque-Bold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #000000;
  position: absolute;
  z-index: 100000;
}
.tipsy-inner {
  padding: 3px 8px 1px 8px;
  background-color: black;
  color: white;
  max-width: 200px;
  text-align: center;
}
.tipsy-arrow {
  position: absolute;
  background: url(/images/tipsy.gif) no-repeat top left;
  width: 9px;
  height: 5px;
}
.tipsy-n .tipsy-arrow {
  top: 0;
  left: 50%;
  margin-left: -4px;
}
.tipsy-nw .tipsy-arrow {
  top: 0;
  left: 10px;
}
.tipsy-ne .tipsy-arrow {
  top: 0;
  right: 10px;
}
.tipsy-s .tipsy-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -4px;
  background-position: bottom left;
}
.tipsy-sw .tipsy-arrow {
  bottom: 0;
  left: 10px;
  background-position: bottom left;
}
.tipsy-se .tipsy-arrow {
  bottom: 0;
  right: 10px;
  background-position: bottom left;
}
.tipsy-e .tipsy-arrow {
  top: 50%;
  margin-top: -4px;
  right: 0;
  width: 5px;
  height: 9px;
  background-position: top right;
}
.tipsy-w .tipsy-arrow {
  top: 50%;
  margin-top: -4px;
  left: 0;
  width: 5px;
  height: 9px;
}
.tipsy em {
  margin: 2px 0 4px 5px;
  padding: 4px 10px 1px;
  display: inline-block;
  font-size: 11px;
  font-style: normal;
  line-height: 1;
  color: #ffffff;
  background-color: #5d5b57;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-background-clip: padding-box;
}
/* forms ---------------------------------------- */
form {
  margin-bottom: 18px;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  padding: 5px 10px;
  width: 280px;
  max-width: 100%;
  display: block;
  outline: none;
  font: 18px "ClarendonFSLight", Georgia, "Times New Roman", Times, serif;
  color: #5d5b57;
  background: #ffffff;
  border: 1px solid #e6e1cf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -webkit-transition: border-color 0.3s linear;
  -moz-transition: border-color 0.3s linear;
  transition: border-color 0.3s linear;
}
select {
  padding: 0;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  color: #5d5b57;
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
textarea {
  min-height: 60px;
}
label {
  margin: 8px 20px 0 0;
  width: 140px;
  float: left;
  display: block;
  font: 18px "ClarendonFSMedium", Georgia, "Times New Roman", Times, serif;
  color: #5d5b57;
}
select {
  width: 220px;
}
input[type="checkbox"], input[type="radio"] {
  cursor: pointer;
}
button, input[type=submit] {
  padding: 11px 15px 8px;
  display: inline-block;
  font: 13px "BrandonGrotesque-Bold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  background-color: #fe6400;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fe8500), to(#fe6400));
  /* Konqueror */

  background-image: -moz-linear-gradient(#fe8500, #fe6400);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(#fe8500, #fe6400);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe8500), color-stop(100%, #fe6400));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(#fe8500, #fe6400);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(#fe8500, #fe6400);
  /* Opera 11.10 */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe8500', endColorstr='#fe6400', GradientType=0);
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe8500', endColorstr='#fe6400', GradientType=0)";
  /* IE8+ */

  background-image: linear-gradient(#fe8500, #fe6400);
  /* the standard */

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  border: 1px solid #dd6c00;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
button:hover, input[type=submit]:hover {
  background-position: 0 -15px;
  color: #ffffff;
  text-decoration: none;
}
button::-moz-focus-inner, input[type=submit]::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.form-item {
  padding: 20px;
  background: url(/images/bg_divider-light.png) bottom left no-repeat;
  zoom: 1;
}
.form-item:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.form-item .field {
  width: 300px;
  float: left;
}
.form-item .field p.notes {
  margin: 5px 0 0 0;
  font: 10px "BrandonGrotesque-Bold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #999999;
}
.form-item.radio .field, .form-item.check .field {
  margin: 6px 0 12px;
}
.form-item.radio .input-wrap, .form-item.check .input-wrap {
  margin: 0 5px 5px 0;
  float: left;
  zoom: 1;
}
.form-item.radio .input-wrap:after, .form-item.check .input-wrap:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.form-item.radio .input-wrap span, .form-item.check .input-wrap span {
  padding: 4px 5px;
  width: auto;
  min-width: 16px;
  height: 18px;
  float: left;
  display: block;
  line-height: 18px;
  border: 1px solid transparent;
  border-right-width: 0;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  -webkit-background-clip: padding-box;
}
.form-item.radio .input-wrap label, .form-item.check .input-wrap label {
  margin: 0;
  padding: 4px 10px 4px 0;
  width: auto;
  min-width: 30px;
  height: 18px;
  font: 14px "BrandonGrotesque-Bold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-left-width: 0;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  -webkit-background-clip: padding-box;
  cursor: pointer;
}
.form-item.radio .input-wrap.active span,
.form-item.check .input-wrap.active span,
.form-item.radio .input-wrap.active label,
.form-item.check .input-wrap.active label {
  background-color: #f9f6ea;
  border-color: #e6e1cf;
}
.actions {
  padding: 20px;
}
/* ---------------------------------------------------------------------------------------------

	header - mast

--------------------------------------------------------------------------------------------- */
#header-wrapper {
  background: url(/images/bg_header-wrapper.png) repeat-x;
}
#header-wrapper header#mast {
  height: 108px;
  position: relative;
}
#identity {
  margin-left: 10px;
}
#identity h1 {
  margin: 0;
  width: 320px;
  height: 72px;
}
#identity h1 a {
  width: 320px;
  height: 72px;
  display: block;
  text-indent: -9999px;
  background: url(/images/bg_logo-h1.png) no-repeat;
}
#identity h2 {
  display: none;
}
/* primary nav ---------------------------------------- */
#primary-nav {
  margin: 0 10px;
  height: 36px;
}
#primary-nav ul.nav-tabs {
  position: relative;
}
#primary-nav li {
  margin-right: 5px;
}
#primary-nav a {
  padding: 11px 10px 7px 10px;
  display: block;
  font: 13px "BrandonGrotesque-Bold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
#primary-nav a:hover {
  text-decoration: none;
}
#primary-nav a.has-drop {
  padding-right: 23px;
  background: url(/images/bg_dropdown-arrow.png) 100% 50% no-repeat;
}
#primary-nav li:hover, #primary-nav li.hover, #primary-nav a.has-drop:hover {
  background-color: #fff;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -webkit-background-clip: padding-box;
}
#primary-nav li ul.dropdown {
  margin: 0;
  padding: 5px 0;
  min-width: 205px;
  position: absolute;
  top: 36px;
  display: none;
  background: #ffffff;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-background-clip: padding-box;
  border-bottom: 1px solid #e0dcd3;
  z-index: 3;
}
#primary-nav li ul.dropdown li {
  margin: 0;
  width: 100%;
  clear: left;
}
#primary-nav li ul.dropdown li a {
  float: none;
  display: block;
  font-family: "BrandonGrotesque-Regular";
  -webkit-transition: none;
}
#primary-nav li ul.dropdown li a:hover {
  display: block;
  font-family: "BrandonGrotesque-Bold";
  color: #ffffff;
  background-color: #fe6a00;
}
/* search ---------------------------------------- */
#search {
  margin-left: 10px;
  padding: 0 0 0 20px;
  width: 280px;
  height: 36px;
  position: absolute;
  bottom: 0;
  right: 10px;
  background: #fffdf6 url(/images/bg_search.png) bottom left repeat-x;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -webkit-background-clip: padding-box;
  -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.05);
}
#search form {
  margin: 0;
}
#search form label {
  position: absolute;
  left: -1000em;
}
#search form input {
  vertical-align: middle;
}
#search form input[type="text"] {
  margin: 0 17px 0 0;
  padding: 6px 0;
  width: 220px;
  display: inline;
  font: 12px "ClarendonFSMedium", Georgia, "Times New Roman", Times, serif;
  color: #5d5b57;
  background: transparent;
  outline: none;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
#search form input[type="text"]:focus {
  color: #444;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* account widget ---------------------------------------- */
#account {
  padding: 10px 0 0 20px;
  width: 280px;
  height: 26px;
  position: absolute;
  top: 0;
  right: 10px;
  font: 13px "BrandonGrotesque-Bold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  background-color: #fffdf6;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-background-clip: padding-box;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
#account strong {
  margin-right: 15px;
  float: left;
  font-weight: normal;
  color: #5d5b57;
}
#account ul.nav-tabs {
  float: left;
}
#account ul.nav-tabs li {
  margin-right: 4px;
}
#account ul.nav-tabs em {
  margin-left: 4px;
  vertical-align: top;
  font: italic 12px Georgia, "Times New Roman", Times, serif;
  line-height: 0.9;
  text-transform: none;
  color: #fe6a00;
}
/* ---------------------------------------------------------------------------------------------

	content - main & sidebar

--------------------------------------------------------------------------------------------- */
#content {
  padding: 36px 0 72px;
}
/* main ---------------------------------------- */
#main .title h2 {
  margin-bottom: 12px;
  font-size: 34px;
}
/* activity feeds ---------------------------------------- */
#activity-feed .feed-item {
  padding: 25px 0 25px 60px;
  background: url(/images/bg_divider.png) bottom left no-repeat;
}
#activity-feed .tabs-content .feed-item:first-child {
  padding-top: 0;
}
#activity-feed .feed-item > a img {
  margin-left: -60px;
  float: left;
  padding: 5px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0dcd3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
}
#activity-feed .feed-item .act {
  padding-right: 55px;
  background-position: top right;
  background-repeat: no-repeat;
}
#activity-feed .feed-item p {
  margin-bottom: 10px;
  font-size: 13px;
  font-family: "ClarendonFSMedium";
  line-height: 1;
  color: #999999;
}
#activity-feed .feed-item quote {
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.045em;
  color: #5d5b57;
}
#activity-feed .feed-item quote a {
  color: #5d5b57;
}
#activity-feed .feed-item.comment > a, #activity-feed .feed-item.review > a {
  margin-left: -60px;
  padding-right: 10px;
  width: 50px;
  height: 50px;
  float: left;
  background: url(/images/bg_feed-avatar-connector.png) 100% 50% no-repeat;
}
#activity-feed .feed-item.comment > a img, #activity-feed .feed-item.review > a img {
  margin-left: 0;
}
#activity-feed .feed-item.comment .act, #activity-feed .feed-item.review .act {
  padding-left: 120px;
}
#activity-feed .feed-item.comment .act > a img, #activity-feed .feed-item.review .act > a img {
  margin-left: -120px;
  float: left;
  padding: 5px;
  width: 90px;
  height: 90px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0dcd3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
}
#activity-feed .feed-item.comment .act {
  background-image: url(/images/icon_comment.png);
}
#activity-feed .feed-item.review .act {
  background-image: url(/images/icon_review-1.png);
}
#activity-feed .feed-item.event .act {
  background-image: url(/images/icon_event.png);
}
#activity-feed .feed-item.achievement .act {
  background-image: url(/images/icon_achievement-1.png);
}
#activity-feed .feed-item.news .act {
  background-image: url(/images/icon_news-1.png);
}
/* sidebar general ---------------------------------------- */
#sidebar #registration {
  margin-bottom: 18px;
  padding: 55px 0 0 20px;
  height: 107px;
  font: 24px/1 "ClarendonFSLight", Georgia, "Times New Roman", Times, serif;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  background: url(/images/bg_registration.jpg) no-repeat;
}
#sidebar #registration a:hover {
  color: #fe6a00;
}
#sidebar .node {
  padding: 10px;
  position: relative;
  display: block;
  overflow: hidden;
  /* simple clearfix */
  background-color: #fffdf6;
  border-top: 4px solid #f1ead8;
}
#sidebar .node:first-child {
  background: #fffdf6 url(/images/bg_node.png) repeat-x;
  border-top: none;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -webkit-background-clip: padding-box;
}
#sidebar .node:last-child, #sidebar .node.lastnode {
  border-bottom: 1px solid #e0dcd3;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-background-clip: padding-box;
}
#sidebar .node h3 {
  font-size: 27px;
}
/* sidebar - lowdown ---------------------------------------- */
#sidebar .node.lowdown img {
  float: left;
  padding: 5px;
  width: 90px;
  height: 90px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0dcd3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
}
#sidebar .node.lowdown ul {
  margin-left: 112px;
  font: 12px/1 "BrandonGrotesque-Regular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
#sidebar .node.lowdown ul strong {
  font-weight: normal;
  font-family: "BrandonGrotesque-Bold";
  color: #5d5b57;
}
/* sidebar - google map ---------------------------------------- */
#sidebar .node.google-map img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
}
/* sidebar - member bio ---------------------------------------- */
#sidebar .node.bio p {
  font-size: 12px;
}
/* sidebar - ratings list ---------------------------------------- */
#sidebar .node .ratings-list {
  margin: 0;
}
#sidebar .node .ratings-list li {
  padding-bottom: 10px;
  height: 54px;
  overflow: hidden;
  /* simple clearfix */
  background: url(/images/bg_divider.png) bottom center no-repeat;
}
#sidebar .node .ratings-list li:last-child, #sidebar .node .ratings-list li.last {
  background: none;
}
#sidebar .node .ratings-list span.position {
  margin-right: 10px;
  width: 18px;
  height: 52px;
  float: left;
  font: 18px "ClarendonFSMedium", Georgia, "Times New Roman", Times, serif;
  text-align: center;
  background-color: #f9f5eb;
  border: 1px solid #ebe5d5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
}
#sidebar .node .ratings-list a {
  width: 205px;
  float: left;
  font: 14px "ClarendonFSMedium", Georgia, "Times New Roman", Times, serif;
}
#sidebar .node .ratings-list .ratings {
  width: 28px;
  height: 54px;
  float: right;
}
#sidebar .node .ratings-list .ratings span {
  margin-right: 2px;
  margin-bottom: 1px;
  width: 26px;
  float: none;
  display: block;
  cursor: default;
  font: 12px/1.8 "BrandonGrotesque-Black", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #999999;
}
#sidebar .node .ratings-list .ratings span.rating-expert {
  height: 15px;
  color: #761a02;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  background-color: #f05931;
  border-color: #cb3007;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -webkit-background-clip: padding-box;
}
#sidebar .node .ratings-list .ratings span.rating-community {
  height: 16px;
  color: #845e00;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #fcc12c;
  border-color: #d39f1d;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  -webkit-background-clip: padding-box;
}
#sidebar .node .ratings-list .ratings span.rating-personal {
  margin-bottom: 0;
  height: 15px;
  text-shadow: 0 1px 0 #ffffff;
  color: #969601;
  background-color: #ffff99;
  border-color: #e1e171;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-background-clip: padding-box;
}
#sidebar .node .ratings-list .ratings span.rating-personal a {
  width: auto;
  float: none;
  display: block;
  font: 12px/1.8 "BrandonGrotesque-Black", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #969601;
}
#sidebar .node .ratings-list .ratings span.rating-personal a:hover {
  text-decoration: none;
}
/* sidebar - highest rated list ---------------------------------------- */
#sidebar .node.highest-rated .ratings-list li, #sidebar .node.highest-rated .ratings-list .ratings {
  height: auto;
}
#sidebar .node.highest-rated .ratings-list .ratings span.rating-expert, #sidebar .node.highest-rated .ratings-list .ratings span.rating-community, #sidebar .node.highest-rated .ratings-list .ratings span.rating-personal {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
}
/* sidebar - badge list & avatar grid ---------------------------------------- */
#sidebar .node .badge-list li, #sidebar .node .avatar-grid li {
  margin: 0 10px 10px 0;
  width: 48px;
  height: 48px;
  float: left;
}
#sidebar .node .badge-list li:nth-child(5n),
#sidebar .node .badge-list li.last,
#sidebar .node .avatar-grid li:nth-child(5n),
#sidebar .node .avatar-grid li.last {
  margin-right: 0;
}
#sidebar .node .badge-list li img {
  width: 47px;
  height: 47px;
  border: 1px solid #eeeeee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
}
#sidebar .node .avatar-grid li img {
  padding: 5px;
  width: 38px;
  height: 38px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0dcd3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
}
/* ---------------------------------------------------------------------------------------------

	footer

--------------------------------------------------------------------------------------------- */
#footer-wrapper {
  background: url(/images/bg_footer-wrapper.png) 0 0 repeat-x;
}
footer.container {
  padding-top: 36px;
  height: 108px;
  position: relative;
}
footer h3 {
  margin-left: 10px;
  width: 200px;
  height: 54px;
  position: absolute;
  bottom: 0;
}
footer h3 a {
  width: 200px;
  height: 54px;
  display: block;
  text-indent: -9999px;
  background: url(/images/bg_logo-h3.png) no-repeat;
}
footer ul.nav-tabs li {
  margin-right: 5px;
}
footer ul.nav-tabs a {
  padding: 11px 10px 7px 10px;
  display: block;
  font: 13px "BrandonGrotesque-Bold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
footer ul.nav-tabs a:hover {
  text-decoration: none;
}
footer p {
  margin: 25px 10px 0 0;
  float: right;
  font-size: 10px;
}
#footer-wrapper.footer-short {
  width: 100%;
  position: fixed;
  bottom: 0;
}
#footer-wrapper.footer-short footer.container {
  padding-top: 18px;
  height: 54px;
}
#footer-wrapper.footer-short footer h3 {
  top: 12px;
}
#footer-wrapper.footer-short footer ul.nav-tabs {
  position: absolute;
  top: 19px;
  left: 250px;
}
#footer-wrapper.footer-short footer p {
  margin-top: 12px;
}
/* #Page Styles
================================================== */
/* ---------------------------------------------------------------------------------------------

	community page

--------------------------------------------------------------------------------------------- */
#s-community #content {
  padding-top: 18px;
}
#purpose {
  margin-bottom: 36px;
  padding: 10px;
  height: 394px;
  position: relative;
  background-color: #5d5b57;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.16);
}
#purpose img {
  width: 600px;
  height: 394px;
}
#purpose p {
  width: 621px;
  height: 101px;
  position: absolute;
  top: 36px;
  left: -24px;
  text-indent: -9999px;
  background: url(/images/bg_purpose-banner.png) no-repeat;
}
#purpose p a {
  width: 100px;
  height: 66px;
  display: block;
  position: absolute;
  top: 12px;
  right: 21px;
}
/* ---------------------------------------------------------------------------------------------

	member, brand & product profile page

--------------------------------------------------------------------------------------------- */
/* profile general ---------------------------------------- */
#s-profile #profile {
  margin-bottom: 36px;
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #e0dcd3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
}
#s-profile #profile img.avatar {
  float: left;
  padding: 5px;
  width: 90px;
  height: 90px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0dcd3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
#s-profile #profile .tape {
  width: 42px;
  height: 29px;
  position: absolute;
  top: 12px;
  left: 10px;
  display: block;
  background: url(/images/bg_avatar-tape.png) no-repeat;
  z-index: 2;
}
#s-profile #profile #edit-profile {
  width: 69px;
  position: absolute;
  top: 130px;
  padding: 11px 15px 8px;
  display: inline-block;
  font: 11px "BrandonGrotesque-Bold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  background-color: #fe6400;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fe8500), to(#fe6400));
  /* Konqueror */

  background-image: -moz-linear-gradient(#fe8500, #fe6400);
  /* FF 3.6+ */

  background-image: -ms-linear-gradient(#fe8500, #fe6400);
  /* IE10 */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe8500), color-stop(100%, #fe6400));
  /* Safari 4+, Chrome 2+ */

  background-image: -webkit-linear-gradient(#fe8500, #fe6400);
  /* Safari 5.1+, Chrome 10+ */

  background-image: -o-linear-gradient(#fe8500, #fe6400);
  /* Opera 11.10 */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe8500', endColorstr='#fe6400', GradientType=0);
  /* IE6 & IE7 */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe8500', endColorstr='#fe6400', GradientType=0)";
  /* IE8+ */

  background-image: linear-gradient(#fe8500, #fe6400);
  /* the standard */

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  border: 1px solid #dd6c00;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
#s-profile #profile #edit-profile:hover {
  background-position: 0 -15px;
  color: #ffffff;
  text-decoration: none;
}
#s-profile #profile #details {
  padding: 0 20px 0 20px;
  width: 280px;
  float: left;
}
#s-profile #profile #details h1 {
  margin-bottom: 10px;
  font-size: 34px;
  line-height: 1.2;
  text-shadow: 0 1px 0 #ffffff;
}
#s-profile #profile #details ul {
  padding-left: 30px;
  font-size: 14px;
}
#s-profile #profile #details ul.location {
  background: url(/images/bg_profile-details-location.png) no-repeat;
}
#s-profile #profile #details ul.contact {
  background: url(/images/bg_profile-details-contact.png) no-repeat;
}
#s-profile #profile #details li {
  margin-bottom: 2px;
  padding-bottom: 2px;
  background: url(/images/bg_profile-details-divider.png) bottom right no-repeat;
}
#s-profile .ratings {
  margin-bottom: 10px;
  width: 140px;
  height: 52px;
  float: right;
}
#s-profile .ratings span {
  margin-right: 1px;
  width: 44px;
  height: 50px;
  display: inline-block;
  cursor: default;
  font: 34px/1.4 "SteelfishRegular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #999999;
}
#s-profile .ratings span:last-child, #s-profile .ratings span.last {
  margin-right: 0;
}
#s-profile .ratings span.rating-expert {
  color: #761a02;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  background-color: #f05931;
  border-color: #cb3007;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  -webkit-background-clip: padding-box;
}
#s-profile .ratings span.rating-community {
  color: #845e00;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #fcc12c;
  border-color: #d39f1d;
}
#s-profile .ratings span.rating-personal {
  color: #969601;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #ffff99;
  border-color: #e1e171;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  -webkit-background-clip: padding-box;
}
#s-profile .ratings span.rating-personal a {
  display: block;
  color: #969601;
}
#s-profile .ratings span.rating-personal a:hover {
  text-decoration: none;
}
/* member profile ---------------------------------------- */
#s-profile.member #profile {
  background: #fffdf6 url(/images/bg_profile-member.jpg) no-repeat;
}
#s-profile.member #profile #member-since {
  padding-top: 18px;
  width: 144px;
  height: 36px;
  position: absolute;
  right: 10px;
  text-align: center;
  font: 18px/1 "ClarendonFSBold", Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  background: url(/images/bg_profile-member-since.png) no-repeat;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
}
/* brand profile ---------------------------------------- */
#s-profile.brand #profile {
  background: #fffdf6 url(/images/bg_profile-brand.jpg) 0 50% no-repeat;
}
#s-profile.brand #profile #nom {
  padding-top: 20px;
  width: 116px;
  height: 52px;
  position: absolute;
  top: 75px;
  right: 22px;
  text-align: center;
  font: 40px/1 "ClarendonFSBold", Georgia, "Times New Roman", Times, serif;
  background: url(/images/bg_profile-nom.png) no-repeat;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
}
#s-profile.brand #profile #nom a:hover {
  text-decoration: none;
}
#s-profile.brand .brand-rating {
  margin-bottom: 10px;
  padding-bottom: 10px;
  background: url(/images/bg_divider.png) bottom left no-repeat;
  zoom: 1;
}
#s-profile.brand .brand-rating:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
#s-profile.brand .brand-rating h2 {
  padding-top: 4px;
  float: left;
  font-size: 34px;
}
#s-profile.brand .brand-rating h3 {
  padding: 1px 0 0 25px;
  float: left;
  font-size: 27px;
  color: #fe6a00;
  background: url(/images/bg_brand-rating-h3.png) 0 14px no-repeat;
  cursor: pointer;
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
#s-profile.brand .brand-rating h3:hover {
  color: #b24a00;
}
#s-profile.brand .brand-rating h3.selected {
  color: #b24a00;
  background-position: 0 -25px;
}
#s-profile.brand .brand-rating.overall {
  padding-right: 10px;
}
#s-profile.brand .brand-rating .group {
  padding: 10px 10px 0 10px;
  background-color: #fffdf6;
  border-bottom: 1px solid #e0dcd3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  zoom: 1;
}
#s-profile.brand .brand-rating .group:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
#s-profile.brand .brand-rating .group .ratings {
  height: 37px;
}
#s-profile.brand .brand-rating .group .ratings span {
  height: 35px;
  font-size: 24px;
}
#s-profile.brand .brand-rating .singles {
  width: 600px;
}
#s-profile.brand .brand-rating .single {
  padding: 10px 0 20px 110px;
  background: url(/images/bg_divider-light.png) no-repeat;
  clear: both;
}
#s-profile.brand .brand-rating .single a > img {
  margin-left: -110px;
  margin-bottom: 10px;
  float: left;
  padding: 5px;
  width: 90px;
  height: 90px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0dcd3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
}
#s-profile.brand .brand-rating .single a + a {
  margin-top: 35px;
  width: 330px;
  float: left;
  font-size: 18px;
}
#s-profile.brand .brand-rating .single .ratings {
  margin-top: 29px;
}
/* product profile ---------------------------------------- */
#s-profile.product #profile {
  background: #fffdf6;
}
#s-profile.product #profile h1 {
  margin: 0 0 9px -31px;
  padding: 12px 0 0 31px;
  height: 55px;
  font: 28px/1 "ClarendonFSMedium", Georgia, "Times New Roman", Times, serif;
  text-transform: none;
  background: url(/images/bg_product-profile-h1.png) no-repeat;
}
#s-profile.product #profile img {
  padding: 5px;
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0dcd3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  float: left;
}
#s-profile.product #profile .tape {
  top: 90px;
}
#s-profile.product #profile #description {
  margin-left: 220px;
}
#s-profile.product #profile #description h2 {
  margin-top: 12px;
  padding-bottom: 6px;
  font: 18px/1 "ClarendonFSMedium", Georgia, "Times New Roman", Times, serif;
  text-transform: none;
  background: url(/images/bg_divider-light.png) bottom left no-repeat;
}
#s-profile.product #profile #description p {
  font-size: 14px;
}
#s-profile.product .group {
  margin-bottom: 20px;
  padding: 0 10px 20px 0;
  background: url(/images/bg_divider.png) bottom left no-repeat;
  zoom: 1;
}
#s-profile.product .group:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
#s-profile.product .group h2 {
  float: left;
  font-size: 34px;
}
#s-profile.product #product-rating h2 {
  margin-top: 4px;
}
#s-profile.product #product-rating .ratings {
  margin-bottom: 0;
}
#s-profile.product #flavor-profile #chart {
  margin-bottom: 10px;
  width: 370px;
  height: 168px;
  float: right;
  position: relative;
  background: url(/images/bg_flavor-profile-chart.png) no-repeat;
}
#s-profile.product #flavor-profile #chart ul {
  width: 370px;
  height: 168px;
}
#s-profile.product #flavor-profile #chart ul li {
  margin: 0;
  width: 35px;
  position: absolute;
  bottom: 51px;
  text-indent: -9999px;
  background-color: #ebe5d5;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
#s-profile.product #flavor-profile #chart ul li:hover, #s-profile.product #flavor-profile #chart ul li.hover {
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#s-profile.product #flavor-profile #chart ul #agave {
  left: 13px;
  background-color: #1dc9d4;
}
#s-profile.product #flavor-profile #chart ul #bitter {
  left: 57px;
  background-color: #c7f584;
}
#s-profile.product #flavor-profile #chart ul #sweet {
  left: 101px;
  background-color: #feefa7;
}
#s-profile.product #flavor-profile #chart ul #herbal {
  left: 145px;
  background-color: #3dba4c;
}
#s-profile.product #flavor-profile #chart ul #citrus {
  left: 189px;
  background-color: #fee05d;
}
#s-profile.product #flavor-profile #chart ul #floral {
  left: 233px;
  background-color: #e76f98;
}
#s-profile.product #flavor-profile #chart ul #spice {
  left: 277px;
  background-color: #e8441b;
}
#s-profile.product #flavor-profile #chart ul #wood {
  left: 321px;
  background-color: #913e12;
}
#s-profile.product #expert-quotes blockquote {
  margin: 0 0 10px 240px;
  padding: 0 0 15px;
  background: url(/images/bg_divider-light.png) bottom left no-repeat;
}
#s-profile.product #expert-quotes blockquote:last-child, #s-profile.product #expert-quotes blockquote.last {
  margin-bottom: 0;
  padding: 0;
  background: none;
}
#s-profile.product #expert-quotes blockquote p {
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 1.7;
}
#s-profile.product #expert-quotes blockquote cite {
  display: block;
  zoom: 1;
}
#s-profile.product #expert-quotes blockquote cite:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
#s-profile.product #expert-quotes blockquote img {
  margin-right: 10px;
  padding: 5px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0dcd3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  float: left;
}
#s-profile.product #expert-quotes blockquote cite a + a {
  margin-top: 15px;
  display: inline-block;
}
#s-profile.product #expert-quotes blockquote cite a:hover + a {
  text-decoration: underline;
  color: #b24a00;
}
/* bar & retailer profile ---------------------------------------- */
#s-profile.bar #profile {
  background: #fffdf6 url(/images/bg_profile-bar-retailer.jpg) 0 50% no-repeat;
}
#s-profile.bar #profile #likes {
  padding-top: 20px;
  width: 116px;
  height: 52px;
  position: absolute;
  top: 85px;
  right: 22px;
  text-align: center;
  font: 40px/1 "ClarendonFSBold", Georgia, "Times New Roman", Times, serif;
  background: url(/images/bg_profile-likes.png) no-repeat;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
}
#s-profile.bar #profile #likes a:hover {
  text-decoration: none;
}
#s-profile.bar #profile #like-toggle a {
  padding: 10px 0 7px 30px;
  position: absolute;
  top: 205px;
  right: 50px;
  font: 11px/1 "BrandonGrotesque-Black", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #999999;
  background: url(/images/bg_like-star.png) no-repeat;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
#s-profile.bar #profile #like-toggle a:hover {
  color: #fe6a00;
}
#s-profile.bar #profile #like-toggle a.liked {
  right: 38px;
  color: #fe6a00;
  background-position: 0 -26px;
}
#s-profile.bar .thumbs {
  margin: 0;
  padding: 10px;
  background: #fffdf6;
  border-bottom: 1px solid #e0dcd3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  zoom: 1;
}
#s-profile.bar .thumbs:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
#s-profile.bar .thumbs li {
  margin: 10px 10px 20px;
  width: 100px;
  float: left;
  display: inline;
  position: relative;
}
#s-profile.bar .thumbs li a {
  width: 90px;
  height: 90px;
  display: block;
}
#s-profile.bar .thumbs li img {
  padding: 5px;
  width: 90px;
  height: 90px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0dcd3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
}
#s-profile.bar .thumbs li span.video-play {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 31px;
  left: 32px;
  background: url(/images/bg_gallery-video-play.png) no-repeat;
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
#s-profile.bar .thumbs li a:hover span.video-play {
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#s-profile.bar #fans {
  display: none;
}
#s-profile.bar #fans .title {
  overflow: hidden;
  /* simple clearfix */
}
#s-profile.bar #fans .title h2 {
  float: left;
}
#s-profile.bar #fans a#hide-fans {
  margin-top: 18px;
  float: right;
  font: 10px/1 "BrandonGrotesque-Regular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
  color: #5d5b57;
}
#s-profile.bar #fans a#hide-fans:hover {
  color: #b24a00;
}
#s-profile.bar #fans .thumbs {
  margin-bottom: 54px;
  width: 600px;
  /* these two styles correct jquery animation jumpyness */
}
#s-profile.bar #fans .thumbs li {
  margin: 10px 6px 20px 10px;
  width: 50px;
}
#s-profile.bar #fans .thumbs li a {
  width: 40px;
  height: 40px;
}
#s-profile.bar #fans .thumbs li img {
  padding: 5px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0dcd3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
}
#s-profile.bar #gallery {
  margin-bottom: 54px;
}
/* ---------------------------------------------------------------------------------------------

	rating page

--------------------------------------------------------------------------------------------- */
#s-rating #main .title {
  position: relative;
}
#main #rating-progress {
  width: 300px;
  height: 54px;
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
}
#main #rating-progress.progress-1 {
  background-image: url(/images/bg_rating-progress-1.png);
}
#main #rating-progress.progress-2 {
  background-image: url(/images/bg_rating-progress-2.png);
}
#main #rating-progress.progress-3 {
  background-image: url(/images/bg_rating-progress-3.png);
}
#main #rating-progress span {
  width: 20px;
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 2px;
  text-indent: -9999px;
}
#main #rating-progress #step-1 {
  left: 141px;
}
#main #rating-progress #step-2 {
  left: 200px;
}
#main #rating-progress #step-3 {
  left: 260px;
}
#main #rating-form {
  position: relative;
  background: #fffdf6;
  border-bottom: 1px solid #e0dcd3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
}
#main #rating-form #rating-header {
  padding: 20px;
  overflow: hidden;
  /* simple clearfix */
  background: url(/images/bg_divider.png) bottom left no-repeat;
}
#main #rating-form #rating-header a img {
  margin: 0 10px 0 0;
  float: left;
  padding: 5px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0dcd3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
}
#main #rating-form #rating-header h1 {
  width: 380px;
  float: left;
  font: 18px "ClarendonFSMedium", Georgia, "Times New Roman", Times, serif;
  text-transform: none;
}
#main #rating-form #rating-header a#rate-different {
  margin-top: 9px;
  float: right;
  font: 10px/1 "BrandonGrotesque-Regular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
  color: #5d5b57;
}
#main #rating-form #rating-header a#rate-different:hover {
  color: #b24a00;
}
.rating-form .form-item {
  padding-left: 80px;
}
.rating-form .actions {
  padding: 36px 20px 18px 80px;
}
.rating-form .actions em {
  padding: 0 15px;
  font: italic 13px Georgia, "Times New Roman", Times, serif;
}
.form-item.rating-slider label {
  margin-top: 14px;
}
.form-item.rating-slider .field {
  margin: 18px 0 18px 160px;
  position: relative;
  float: none;
}
.form-item.rating-slider .field + .field {
  margin-top: 54px;
}
.form-item.rating-slider .field .callout {
  margin-left: -6px;
  padding-top: 6px;
  width: 35px;
  height: 24px;
  position: absolute;
  top: -32px;
  font: 13px/1 "BrandonGrotesque-Bold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 1px 0 #000000;
  background: url(/images/bg_ui-slider-callout.png) top center no-repeat;
}
.form-item.rating-slider .field .lower-range, .form-item.rating-slider .field .mid-range, .form-item.rating-slider .field .upper-range {
  position: absolute;
  top: 25px;
  font: 10px/1 "BrandonGrotesque-Bold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.form-item.rating-slider .field .mid-range {
  width: 300px;
  text-align: center;
}
.form-item.rating-slider .field .upper-range {
  right: 0;
  text-align: right;
}
/* jquery ui slider ---------------------------------------- */
/* component containers */
.ui-widget-content {
  border: 1px solid #e6e1cf;
  background: #f9f6ea;
}
.ui-widget-header {
  background: #ffff99;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
}
/* interaction states */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: #eeeeee url(/images/bg_ui-slider-handle.png) 0 0 no-repeat;
  border: 1px solid #c6c6c6;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #1c94c4;
  text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  text-decoration: none;
  background: #eeeeee url(/images/bg_ui-slider-handle.png) 0 -20px no-repeat;
  border: 1px solid #aaa;
}
.ui-state-hover a, .ui-state-hover a:hover {
  color: #c77405;
  text-decoration: none;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  background: #eeeeee url(/images/bg_ui-slider-handle.png) 0 -40px no-repeat;
  border: 1px solid #888;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #eb8f00;
  text-decoration: none;
}
.ui-widget :active {
  outline: none;
}
/* corner radius */
.ui-corner-all {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
}
/* slider */
.ui-slider {
  position: relative;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 23px;
  height: 20px;
  cursor: pointer;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  display: block;
  border: 0;
  background-position: 0 0;
}
.ui-slider-horizontal {
  height: 14px;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -4px;
  margin-left: -10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  /* removes <a> transitions */
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
/* sidebar - lowdown ---------------------------------------- */
#s-rating #sidebar .node.lowdown {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
}
#s-rating #sidebar .node.lowdown h4 {
  margin-bottom: 18px;
  padding-bottom: 10px;
  font: 16px/1 "ClarendonFSMedium", Georgia, "Times New Roman", Times, serif;
  text-transform: none;
  background: url(/images/bg_divider.png) bottom left no-repeat;
}
/* #Media Queries
================================================== */
/* iPad Portrait/Browser ---------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  
}
/* Mobile/Browser ---------------------------------------- */
@media only screen and (max-width: 767px) {
  
}
/* Mobile Landscape/Browser ---------------------------------------- */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  
}
/* Anything smaller than standard 960 ---------------------------------------- */
@media only screen and (max-width: 959px) {
  
}
/* iPad Portrait Only ---------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {
  
}
/* Mobile Only ---------------------------------------- */
@media only screen and (max-width: 767px) and (max-device-width: 1000px) {
  
}
/* Mobile Landscape Only ---------------------------------------- */
@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {
  
}
/* #Font-Face
================================================== */
@font-face {
  font-family: 'BrandonGrotesque-Regular';
  src: url('/css/fonts/brandon/eot/style_187188.eot');
  src: url('/css/fonts/brandon/eot/style_187188.eot?#iefix') format('embedded-opentype'), url('/css/fonts/brandon/woff/style_187188.woff') format('woff'), url('/css/fonts/brandon/ttf/style_187188.ttf') format('truetype'), url('/css/fonts/brandon/svg/style_187188.svg#BrandonGrotesque-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonGrotesque-Bold';
  src: url('/css/fonts/brandon/eot/style_187190.eot');
  src: url('/css/fonts/brandon/eot/style_187190.eot?#iefix') format('embedded-opentype'), url('/css/fonts/brandon/woff/style_187190.woff') format('woff'), url('/css/fonts/brandon/ttf/style_187190.ttf') format('truetype'), url('/css/fonts/brandon/svg/style_187190.svg#BrandonGrotesque-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonGrotesque-Black';
  src: url('/css/fonts/brandon/eot/style_187197.eot');
  src: url('/css/fonts/brandon/eot/style_187197.eot?#iefix') format('embedded-opentype'), url('/css/fonts/brandon/woff/style_187197.woff') format('woff'), url('/css/fonts/brandon/ttf/style_187197.ttf') format('truetype'), url('/css/fonts/brandon/svg/style_187197.svg#BrandonGrotesque-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SteelfishRegular';
  src: url('/css/fonts/steelfish/regular/steelfish_rg-webfont.eot?') format('eot'), url('/css/fonts/steelfish/regular/steelfish_rg-webfont.woff') format('woff'), url('/css/fonts/steelfish/regular/steelfish_rg-webfont.ttf') format('truetype'), url('/css/fonts/steelfish/regular/steelfish_rg-webfont.svg#webfontzUlD70Vs') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SteelfishBold';
  src: url('/css/fonts/steelfish/bold/steelfish_bd-webfont.eot?') format('eot'), url('/css/fonts/steelfish/bold/steelfish_bd-webfont.woff') format('woff'), url('/css/fonts/steelfish/bold/steelfish_bd-webfont.ttf') format('truetype'), url('/css/fonts/steelfish/bold/steelfish_bd-webfont.svg#SteelfishBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ClarendonFSBold';
  src: url('/css/fonts/clarendonfs/bold/Clarendon-Bold-webfont.eot');
  src: url('/css/fonts/clarendonfs/bold/Clarendon-Bold-webfont.eot?iefix') format('eot'), url('/css/fonts/clarendonfs/bold/Clarendon-Bold-webfont.woff') format('woff'), url('/css/fonts/clarendonfs/bold/Clarendon-Bold-webfont.ttf') format('truetype'), url('/css/fonts/clarendonfs/bold/Clarendon-Bold-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ClarendonFSLight';
  src: url('/css/fonts/clarendonfs/light/Clarendon-Light-webfont.eot');
  src: url('/css/fonts/clarendonfs/light/Clarendon-Light-webfont.eot?iefix') format('eot'), url('/css/fonts/clarendonfs/light/Clarendon-Light-webfont.woff') format('woff'), url('/css/fonts/clarendonfs/light/Clarendon-Light-webfont.ttf') format('truetype'), url('/css/fonts/clarendonfs/light/Clarendon-Light-webfont.svg#webfontI7XVJ1Zh') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ClarendonFSMedium';
  src: url('/css/fonts/clarendonfs/medium/Clarendon-Medium-webfont.eot');
  src: url('/css/fonts/clarendonfs/medium/Clarendon-Medium-webfont.eot?iefix') format('eot'), url('/css/fonts/clarendonfs/medium/Clarendon-Medium-webfont.woff') format('woff'), url('/css/fonts/clarendonfs/medium/Clarendon-Medium-webfont.ttf') format('truetype'), url('/css/fonts/clarendonfs/medium/Clarendon-Medium-webfont.svg#webfontXqIDF9Di') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* #Browser Debugging
================================================== */
