/* 
* Skeleton V1.0.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 5/20/2011
*/


/* Table of Contents
==================================================
	#Base 960 Grid    
	#Tablet (Portrait)
	#Mobile (Portrait) 
	#Mobile (Landscape)
	#Clearing */
	
	

/* #Base 960 Grid 
================================================== */
.container { position: relative; width: 960px; margin: 0 auto; padding: 0; }
.column, .columns { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
.row { margin-bottom: 20px; }

/* Nested Column Classes */
.column.alpha, .columns.alpha 						{ margin-left: 0; }
.column.omega, .columns.omega 						{ margin-right: 0; }

.container .one-third.column						  { width: 300px; }
.container .two-thirds.column						  { width: 620px; }

/*****************************
	12 Column
*****************************/

/* Base Grid */
.container-twelve .one.column 						{ width: 60px;  }
.container-twelve .two.columns 						{ width: 140px; }
.container-twelve .three.columns 					{ width: 220px; }
.container-twelve .four.columns 					{ width: 300px; }
.container-twelve .five.columns 					{ width: 380px; }
.container-twelve .six.columns 						{ width: 460px; }
.container-twelve .seven.columns 					{ width: 540px; }	
.container-twelve .eight.columns 					{ width: 620px; }
.container-twelve .nine.columns 					{ width: 700px; }
.container-twelve .ten.columns 						{ width: 780px; }	
.container-twelve .eleven.columns 				{ width: 860px; }	
.container-twelve .twelve.columns 				{ width: 940px; }

/* Offsets */	
.container-twelve .offset-by-one 					{ margin-left: 80px;  }
.container-twelve .offset-by-two 					{ margin-left: 160px; }
.container-twelve .offset-by-three 				{ margin-left: 240px; }
.container-twelve .offset-by-four 				{ margin-left: 320px; }
.container-twelve .offset-by-five 				{ margin-left: 400px; }
.container-twelve .offset-by-six 					{ margin-left: 480px; }
.container-twelve .offset-by-seven 				{ margin-left: 560px; }
.container-twelve .offset-by-eight 				{ margin-left: 640px; }
.container-twelve .offset-by-nine 				{ margin-left: 720px; }
.container-twelve .offset-by-ten 					{ margin-left: 800px; }
.container-twelve .offset-by-eleven 			{ margin-left: 880px; }

	

/* #Clearing
================================================== */
/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; } 

/* Use clearfix class on parent to clear nested columns, 
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row, 
.clearfix {
  zoom: 1; }
  
/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
	